$bg: #ededed;
$light: white;
$text: #54595e;
$link: #54595e;
$blue: #03b3ff;
$dark-blue: #215068;
$dark-blue-tr: transparentize($dark-blue, .1);
$dark-blue-tr-2: transparentize($dark-blue, .25);
$light-tr: transparentize($light, .7);
.bg {
	&-light {
		background: $light;
	}
	&-blue {
		background: $blue;
	}
}
@mixin wrapper-app {
	padding: 3rem 10% 2rem;
	display: flex;
	flex-wrap: wrap;
	background: {
		image: linear-gradient(0deg, $dark-blue-tr, $dark-blue-tr), url('../images/bg.jpg');
		size: cover;
		position: center center;
	}
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	h1, h2, h3, h4, h5, h6 {
		font: {
			size: revert;
			weight: revert;
		}
	}
	footer {
		text-align: center;
		padding: 2rem;
		background: #1e1e1e;
		color: #7a7a7a;
	}
	.header {
		padding: 2rem 10%;
		display: flex;
		justify-content: space-between;
		.logo img {
			height: 5rem;
		}
		.menu a {
			font-size: 1.5rem;
			&.icon {
				font-size: 2rem;
			}
		}
	}
	.app {
		background: $bg;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.banner {
			min-height: 500px;
			background: {
				image: linear-gradient(0deg, $light-tr, $light-tr), url('../images/bg.jpg');
				size: cover;
				position: center center;
			}
		}
		.list-posts {
			@include wrapper-app();
			.post-wrapper {
				padding: 0 .5rem 1rem;
				width: 33.33%;
				.post {
					border-radius: 5px;
					display: flex;
					padding: 1rem;
					.post-title {
						font: {
							size: x-large;
							weight: 400;
						}
					}
					.content {
						.img-wrapper {
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 5px;
							height: 15rem;
							background: $light;
							img {
								max-height: 15rem;
							}
						}
						label {
							&.title {
								font: {
									size: 1.5rem;
									weight: 500;
								}
							}
						}
					}
				}
			}
		}
		.form-post {
			@include wrapper-app();
			background: revert;
			justify-content: flex-end;
			textarea {
				resize: none;
			}
			.img-wrapper {
				position: relative;
				.icon-wrapper {
					top: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 99;
					color: white;
					opacity: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: .25s;
					background: $dark-blue-tr-2;
					&:hover {
						opacity: 1;
					}
					.icon {
						cursor: pointer;
						font-size: 2rem;
					}
				}
			}
		}
	}
}